:root[data-theme="thermofisher"][data-mode="light"] {
  --color-bg: 253 242 248;
  --color-surface: 255 241 242;
  --color-neutral: 244 215 228;
  --color-text: 74 4 78;
  --color-primary: 236 72 153;
  --color-secondary: 219 39 119;
  --color-success: 22 163 74;
  --color-danger: 190 24 93;
  --color-warning: 217 119 6;
  --color-info: 14 165 233;
}

:root[data-theme="thermofisher"][data-mode="dark"] {
  --color-bg: 42 16 32;
  --color-surface: 59 15 42;
  --color-neutral: 103 63 88;
  --color-text: 252 231 243;
  --color-primary: 244 114 182;
  --color-secondary: 236 72 153;
  --color-success: 74 222 128;
  --color-danger: 244 114 182;
  --color-warning: 251 191 36;
  --color-info: 56 189 248;
}
