.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: var(--size-control-md);
  height: var(--size-control-md);

  &--sm {
    width: var(--size-control-sm);
    height: var(--size-control-sm);
  }

  &--md {
    width: var(--size-control-md);
    height: var(--size-control-md);
  }

  &--lg {
    width: var(--size-control-lg);
    height: var(--size-control-lg);
  }

  &__circle {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    border: 3px solid var(--color-primary);
    border-radius: 50%;
    border-top-color: transparent;
    animation: spinner-rotate 0.8s linear infinite;
  }
}

@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}
